.advantages {
  background-image: url(../img/blue-bg.jpg);
}
.advantages .container {
  display: flex;
  flex-wrap: wrap;
  padding-top: 20px;
  justify-content: center;
}
.advantages .container h2 {
  width: 100%;
  text-align: center;
  font-size: 36px;
  color: #6eed6e;
  font-weight: 700;
  text-transform: uppercase;
}
.advantages__card {
  width: 360px;
  padding-top: 175px;
  margin-right: 20px;
  text-align: center;
  position: relative;
  &:nth-of-type(3) {
    margin-right: 0;
  }
  &::after {
    content: " ";
    position: absolute;
    width: 120px;
    height: 140px;
    background-image: url(../img/index-sprite.svg);
    background-repeat: no-repeat;
    background-position: -1505px 10px;
    left: 120px;
    top: 25px;
  }
}
.advantages__card--deadline {
  &::after {
    content: " ";
    position: absolute;
    width: 120px;
    height: 140px;
    background-position: -1710px 13px;
    left: 130px;
    top: 25px;
  }
}
.advantages__card--quality {
  &::after {
    content: " ";
    position: absolute;
    width: 120px;
    height: 140px;
    background-position: -940px 13px;
    left: 130px;
    top: 25px;
  }
}
.advantages__card--service {
  &::after {
    content: " ";
    position: absolute;
    width: 160px;
    height: 140px;
    background-position: -1290px 13px;
    left: 110px;
    top: 25px;
  }
}
.advantages__card--material {
  &::after {
    content: " ";
    position: absolute;
    width: 140px;
    height: 140px;
    background-position: -1113px 13px;
    left: 135px;
    top: 25px;
  }
}
.advantages__card h3 {
  font-size: 30px;
  margin-bottom: 25px;
  color: #6eed6e;
  font-weight: 500;
  text-transform: uppercase;
}
.advantages__card p {
  font-size: 16px;
  color: #6eed6e;
  font-weight: 500;
  text-transform: uppercase;
  padding: 0 5px;
}
