.calculating-form {
  padding-top: 65px;
  padding-bottom: 73px;
  border-bottom: 1px solid #2a2f31;
  &--transparent {
    padding-top: 35px;
    padding-bottom: 82px;
  }
  &--bigger {
    padding-top: 30px;
    padding-bottom: 84px;
  }
  &--green-btn {
    background-color: #232c32;
    padding-top: 45px;
    padding-bottom: 56px;
  }
  &--blue-bg {
    padding-top: 60px;
    background-color: #1a262d;
    padding-bottom: 40px;
  }
  &--toning-2 {
    padding-top: 45px;
    padding-bottom: 76px;
  }
}
.calculating-form .container {
  padding: 0;
}
.calculating-form .calculating-form__title {
  color: #fff;
  font-size: 30px;
  font-weight: 500;
  margin: 0;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 36px;
}
.calculating-form--blue-bg .calculating-form__title {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 72px;
}
.calculating-form .calculating-form__title span {
  display: block;
  margin-top: 10px;
  font-size: 24px;
  font-weight: 700;
  text-shadow: 2px 0 4px rgba(255,255,255,0.3)
}
.calculating-form--green-btn .calculating-form__title span {
  color: #6ee070;
}
.calculating-form--blue-bg .calculating-form__form {
align-items: baseline;
}
.calculating-form--toning-2 .calculating-form__form {
  align-items: baseline;
}
.calculating-form__form {
  display: flex;
  align-items: flex-end;
    text-align: center;
}
.calculating-form--bigger .calculating-form__form {
  flex-wrap: wrap;
}
.calculating-form__form input  {
  background: transparent;
  color: #fff;
  vertical-align: baseline;
  border: 1px solid #fff;
  box-sizing: border-box;
  min-width: 256px;
  height: 36px !important;
  margin-right: 27px;
  padding-left: 15px;
  &::-webkit-input-placeholder { color: #888a8b; font-size: 18px; font-weight: 300;}
  &:-moz-placeholder           { color: #888a8b; font-size: 18px; font-weight: 300;}
  &::-moz-placeholder          { color: #888a8b; font-size: 18px; font-weight: 300;}
  &:-ms-input-placeholder      { color: #888a8b; font-size: 18px; font-weight: 300;}
  }
  .calculating-form--bigger .calculating-form__form input  {
    background: transparent;
    vertical-align: baseline;
    border: 1px solid #fff;
    box-sizing: border-box;
    min-width: 256px;
    height: 36px !important;
    margin-right: 27px;
    padding-left: 15px;
    &::-webkit-input-placeholder { color: #fff; font-size: 18px; font-weight: 300;}
    &:-moz-placeholder           { color: #fff; font-size: 18px; font-weight: 300;}
    &::-moz-placeholder          { color: #fff; font-size: 18px; font-weight: 300;}
    &:-ms-input-placeholder      { color: #fff; font-size: 18px; font-weight: 300;}
    }
.calculating-form__form input:nth-of-type(2) {
  background: transparent;
  color: #fff;
  border: 1px solid #fff;
  width: 256px;
  height: 40px;
  margin-right: 43px;
}
.calculating-form--toning .calculating-form__form input:nth-of-type(4) {
  margin-right: 0 !important;
}
.calculating-form--toning .calculating-form__form input:nth-of-type(3) {
  max-width: 256px;
  margin-right: 35px !important;
}
.calculating-form--toning .calculating-form__form .btn{
  color: #1a262d !important;
  font-weight: 300 !important;
}
.calculating-form--bigger .calculating-form__form .btn {
  width: auto;
  max-width: 266px;
  color: #c2c3c3;
}
.calculating-form--blue-bg .calculating-form__form .btn,
.calculating-form--toning .calculating-form__form .btn {
  height: 50px;
  border: none;
  background-color: #6eed6e;
  color: #1a262d;
  padding-top: 13px;
}

.calculating-form__form .btn {
  width: 100%;
  max-width: 540px;
  color: #1a262d;
  text-align: center;
  background-color: #6eed6e;
  border: none;
  font-size: 22px;
  font-weight: 300;
}
.calculating-form--transparent .btn {
  background: transparent;
  border: 1px solid #fff;
  color: #888a8b;
  height: 36px;
  box-sizing: border-box;
  padding-top: 0;
  padding-top: 5px;
  overflow: hidden;
}
.calculating-form--green-btn .calculating-form__form input:nth-child(3) {
    width: 45% !important;
    max-width: auto !important;
    margin-right: 0;
}
.calculating-form--green-btn .calculating-form__form .btn {
  background-color: #6eed6e;
  border: 0;
  width: 100%;
  max-width: 535px !important;
  margin: 0 auto;
    margin-top: 35px;
   padding-top: 10px;
    height: 42px;
    color: #1a262d;
}
@media (max-width:1885px) {
  .calculating-form--bigger .calculating-form__form .btn {
    width: 100%;
    max-width: 100000px;
    margin-top: 20px;
  }
  .calculating-form--bigger .calculating-form__form input {
    margin-bottom: 20px;
    &:nth-child(3) {
      margin-right: 0;
    }
  }
  .calculating-form--bigger .calculating-form__form {
    justify-content: space-between;
  }
}
