.promo-content {
  padding-top: 48px;
  position: relative;
  padding-bottom: 47px;
  &:after {
    content: " ";
    width: 1px;
    height: 46%;
    background-color: #fff;
    position: absolute;
    top: 40%;
    left: 50.3%;
    margin-left: -0.5px;
  }
  &--protective-membrane {
    padding-bottom: 62px;
    border-bottom: 1px solid #2a2f31;
    &::after {
      height: 33%;
      top: 32.5%;
    }
  }
  &--advertise-gluing {
    padding-top: 40px;
      border-bottom: 1px solid #2a2f31;
      padding-bottom: 58px;
    &::after {
      height: 48.2%;
      top: 47.5%;
    }
  }
}
.promo-content__item {
  margin-bottom: 6px;
}
.promo-content--advertise-gluing .promo-content__item {
  margin-bottom: 0px;
}
.promo-content--protective-membrane .promo-content__item {
  margin-bottom: 1px;
}
.promo-content h4,
.promo-content h5 {
  width: 50%;
  float: left;
  box-sizing: border-box;
  text-align: right;
  clear: both;
  padding-right: 52px;
}
.promo-content h5 {
  position: relative;
  &:after {
    content: " ";
    width: 115px;
    height: 1px;
    background-color: #fff;
    position: absolute;
    bottom: -23px;
    left: 483px;

  }
}
.promo-content__item h5.no-after {
  &::after {
    display: none !important;
  }
}
.promo-content__item--right h5 {
  position: relative;
    &:after {
      content: " ";
      width: 115px;
      height: 1px;
      background-color: #fff;
      position: absolute;
      bottom: -23px;
      left: -17px;
    }
}
.promo-content h3 {
  font-size: 36px;
  color: #fff;
  font-weight: 500;
  text-transform: uppercase;
  margin: 0;
  text-align: center;
  margin-bottom: 67px;
}
.promo-content h4 {
  font-size: 26px;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
}
.promo-content h5 {
  font-size: 18px;
  color: #fff;
  font-weight: 700;
  margin: 0;
}
.promo-content .promo-content__title span {
  display: block;
  font-size: 26px;
  font-weight: 500;
  margin-top: 10px;
}
.promo-content--protective-membrane .promo-content__title {
  margin-bottom: 45px;
}
.promo-content--protective-membrane .promo-content__title.bottom {
  margin-bottom: 19px;
}
.promo-content__item--right h4,
.promo-content__item--right h5 {
  float: right;
  text-align: left;
  box-sizing: border-box;
  padding-left: 65px;
  padding-right: 0;
}
.promo-content__item--protective-membrane h5 {
  padding-left: 52px;
}
.promo-content__do-a-call {
  margin-top: 40px;
  text-align: center;
}
.promo-content__do-a-call .btn {
  display: inline-block;
  box-sizing: border-box;
  width: 465px !important;
  height: 47px;
  font-size: 22px;
  font-weight: 300;
  vertical-align: center;
  padding-bottom: 40px;
}
